# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Migrations cache
*/migrations/__pycache__/
*/__pycache__/

# Environment
venv/
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
