{% extends 'base.html' %}

{% block title %}Видалити нотатку{% endblock %}

{% block content %}

<div class="container-main mx-auto">

    <div class="card p-4 shadow-sm mb-4">

        <h3 class="text-danger fw-bold mb-3">Підтвердження видалення</h3>

        <p class="mb-4">
            Ви дійсно хочете видалити нотатку:
            <strong class="text-success">"{{ note.title }}"</strong>?
        </p>

        <form method="POST" class="d-flex gap-2">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Видалити
            </button>

            <a href="{% url 'notes:note_detail' note.id %}" class="btn btn-outline-secondary">
                Скасувати
            </a>
        </form>

    </div>

</div>

{% endblock %}
