<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ page_title}}</h1>
        <a href="{% url 'notes:create_note' %}" class="btn"
           style="display:inline-block;
                  margin-bottom: 20px;
                  font-weight: 600;
                  background: #4CAF50;
                  color:white;
                  padding: 10px 20px;
                  border-radius: 6px;
                  text-decoration: none;">
           + Створити нову нотатку
        </a>

        <form method="GET" action="" style="margin-bottom: 20px">

            <input
                type="text"
                name="q"
                value="{{ current_query }}"
                placeholder="Пошук нотаток..."
                style="padding: 8px; width: 250px;"
            >
            <select name="category" style="padding: 8px;">
                <option value="">Всі категорії</option>

                {% for cat in categories %}
                    <option value="{{ cat.id }}"
                        {% if current_category == cat.id|stringformat:'s' %}
                        selected
                        {% endif %}
                    >
                        {{ cat.title }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Фільтрувати</button>

            {% if current_query or current_category %}
                <a href="{% url 'notes:index' %}" class="btn" style="margin-left: 10px;">Скинути</a>
            {% endif %}
        </form>
        <div class="notes-list">
            {% for note in notes %}
                <div class="note-card">
                    <h2>
                        <a href="{% url 'notes:note_detail' note.id %}">
                            {{ note.title }}
                        </a>
                    </h2>
                    <p class="date">
                        {{ note.reminder|default:"Без нагадування" }}
                    </p>
                    <p><strong>Категорія:</strong>{{ note.category.title }}</p>
                    <p>{{ note.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>

